{"coord":   
    {"lon":85.3167,"lat":27.7167},
    "weather":[{"id":801,
                "main":"Clouds",
                "description":"few clouds",
                "icon":"02d"
                }],
                "base":"stations",
                "main":{"temp":299.73,"feels_like":299.73,"temp_min":299.73,"temp_max":300.27,"pressure":1009,"humidity":21},
                "visibility":10000,
                "wind":{"speed":8.75,"deg":190},
                "clouds":{"all":20},
                "dt":1683717662,
                "sys":{
                    "type":2,
                    "id":2080684,
                    "country":"NP",
                    "sunrise":1683675186,
                    "sunset":1683723436
                },
                "timezone":20700,
                "id":1283240,
                "name":"Kathmandu",
                "cod":200
}